<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caoyang2002.qoobk.mapper.ProductMapper">
    <insert id="insert">
        INSERT INTO product
        VALUES (NULL, #{title}, #{url}, #{price}, #{oldPrice}, #{saleCount}, #{num}, #{viewCount}, #{created},
                #{categoryId})
    </insert>

    <select id="selectAdmin" resultMap="productAdminRM">
        SELECT id, title, url, price, old_price, sale_count
        FROM product
    </select>
    <resultMap id="productAdminRM" type="com.caoyang2002.qoobk.pojo.vo.ProductAdminVO">
        <id column="id" property="id"></id>
        <result column="title" property="title"></result>
        <result column="url" property="url"></result>
        <result column="price" property="price"></result>
        <result column="old_price" property="oldPrice"></result>
        <result column="sale_count" property="saleCount"></result>
    </resultMap>

    <select id="selectUrlById" resultType="string">
        SELECT url
        FROM product
        WHERE id = #{id}
    </select>

    <delete id="deleteById">
        DELETE
        FROM product
        WHERE id = #{id}
    </delete>

    <select id="selectByIdUpdate" resultMap="productUpdateRM">
        SELECT id,
               title,
               price,
               old_price,
               url,
               sale_count,
               num,
               category_id
        FROM product
        WHERE id = #{id}
    </select>
    <resultMap id="productUpdateRM" type="com.caoyang2002.qoobk.pojo.vo.ProductUpdateVO">
        <id column="id" property="id"></id>
        <result column="title" property="title"></result>
        <result column="price" property="price"></result>
        <result column="old_price" property="oldPrice"></result>
        <result column="url" property="url"></result>
        <result column="sale_count" property="saleCount"></result>
        <result column="num" property="num"></result>
        <result column="category_id" property="categoryId"></result>
    </resultMap>

    <update id="update">
        UPDATE product
        SET title=#{title},
            url=#{url},
            price=#{price},
            old_price=#{ildPrice},
            sale_count#{saleCount},
            num=#{num},
            category_id=#{categoryId}
        WHERE id = #{id}
    </update>

    <!--查询首页排行-->
    <select id="selectTop" resultMap="productTopRM">
        SELECT id, title, sale_count
        FROM product
        ORDER BY sale_count DESC LIMIT 0,6
    </select>
    <resultMap id="productTopRM" type="com.caoyang2002.qoobk.pojo.vo.ProductTopVO">
        <id column="id" property="id"></id>
        <result column="title" property="title"></result>
        <result column="sale_count" property="saleCount"></result>
    </resultMap>

    <!--查询首页商品-->
    <select id="selectIndex" resultMap="productIndexRM">
        SELECT id, title, url, price, sale_count, view_count
        FROM product
    </select>
    <resultMap id="productIndexRM" type="com.caoyang2002.qoobk.pojo.vo.ProductIndexVO">
        <id column="id" property="id"></id>
        <result column="title" property="title"></result>
        <result column="url" property="url"></result>
        <result column="price" property="price"></result>
        <result column="view_count" property="viewCount"></result>
        <result column="sale_count" property="saleCount"></result>
    </resultMap>


    <select id="selectDetail" resultMap="productDetailRM">
        SELECT id,
               title,
               url,
               price,
               old_price,
               sale_count,
               view_count,
               created
        FROM product
        WHERE id = #{id}
    </select>
    <resultMap id="productDetailRM" type="com.caoyang2002.qoobk.pojo.vo.ProductDetailVO">
        <id column="id" property="id"></id>
        <result column="title" property="title"></result>
        <result column="url" property="url"></result>
        <result column="price" property="price"></result>
        <result column="old_price" property="oldPrice"></result>
        <result column="view_count" property="viewCount"></result>
        <result column="sale_count" property="saleCount"></result>
        <result column="created" property="created"></result>
    </resultMap>
    <update id="updateViewCount">
        UPDATE product
        SET view_count=view_count+1
        WHERE id=#{id}
    </update>
    <select id="selectByCid" resultMap="productIndexRM">
        SELECT id, title, url, price, sale_count, view_count
        FROM product
        WHERE category_id=#{id}
    </select>
    <select id="selectByWd" resultMap="productIndexRM">
          SELECT id, title, url, price, sale_count, view_count
        FROM product
        WHERE title like CONCAT('%',#{wd},'%')
    </select>
</mapper>
